@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full.relative.rounded-20px::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
  z-index: 2; /* Certifique-se de que está acima de outros elementos */
}

.overlayV2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
  z-index: 12; /* Certifique-se de que está acima de outros elementos */
}